*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    text-decoration: none;
}

.navbar{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 40px;
    background-color: #455d7a;
}

.navbar > a{
    color: rgb(238, 171, 94);
}

.navbar >a:hover{
    background-color: #233142;
    padding: 8px;
    border-radius: 5px;
}

.logout{
    width: 100px;
    background-color: #de9306;
    color: white;
    padding: 4px;
    border-radius: 10px;
    cursor: pointer; 
}

.logout:hover{
    background-color: #fe3838;
}

.auth-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
}

.auth-container > h1 {
    font-size: 2em;
    margin: 24px;
}

.auth-container > p {
    margin: 8px;
    text-decoration: underline;
}

.auth-container >p:hover{
    cursor: pointer;
}

.auth-container > form{
    border: 1px solid #3338;
    padding: 20px;
    border-radius: 5px;
    background-color: #3c516b;

    display: flex;
    flex-direction: column;
}

.auth-container > form > input {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
    width: 350px;
}

.auth-container > form >button {
    margin: 16px 8px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}

.auth-container > form >button:hover {
    background-color: #5b697a;
    color: white;
}

.public-container{
    height: 100vh;
    text-align: center;
    margin-top: 20px;
    color: #455d7a;
}

.public-container > .title{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px; 
}

.public-container > .subtitle{
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px;
}

/* 
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.profile > h1 {
    margin: 8px;
    font-size: 2em;
    text-align: center;
}

.profile > h3{
    margin: 16px 0;
    text-decoration: underline;
}

.profile > form{
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    border: 1px solid #3338;
    background-color: #233142;
    padding: 16px;
    border-radius: 5px;
}

.profile > form > input,
.profile > form > button {
    margin: 8px 0;
    padding: 8px;
    border-radius: 5px;
} */

.recipe-container{
    box-sizing: border-box;
    border: solid 1px #233142;
    margin: 15px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
}

.recipe-form > input{
    width: 500px;
}

.recipe > h1{
    margin-bottom: 5px;
    color: #917979;
    font-size: 18px;
}

.upvote, .downvote{
    cursor: pointer;
    margin: 10px;
}

.upvote:hover{
    background-color: #629832
}

.downvote:hover{
    background-color:#ea9696 ;
}

.comments{
    color:#78034f;
}