/* profile.css */

/* Main container combining profile and post sections */
.combined-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: #cfab6d;
}

/* Profile section styling */
.profile-section {
    width: 45%;
    padding: 20px;
    background-color: #ede2cf;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-header h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.user-info img.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
}

.update-name-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 20px 0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.update-name-btn:hover {
    background-color: #0056b3;
}

.sorted-recipes ul {
    list-style: none;
    padding: 0;
}

.sorted-recipes li {
    margin: 10px 0;
    padding: 10px;
    background-color:  #ede2cf;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

/* Post section styling */
.post-section {
    width: 45%;
    padding: 20px;
    background-color:#ede2cf;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    position: relative;
    color: rgb(241, 46, 46);
    font-size: 24px;
    font-weight: bold;
    background-color: #cfab6d;
    border-radius: 100%;
}

.post-wrapper {
    width: 100%;
    margin-top: 20px;
}

.recipe-question {
    font-size: 1.25em;
    margin-bottom: 10px;
}